@font-face {
    font-family: 'Kanit-Medium';
    src: url('./Kanit-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-Light';
    src: url('./Kanit-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-Regular';
    src: url('./Kanit-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Mitr-SemiBold';
    src: url('./Mitr-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Chonburi-Regular';
    src: url('./Chonburi-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-Thin';
    src: url('./Kanit-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Mitr-Regular';
    src: url('./Mitr-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url('./Kanit-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('./Kanit-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Mitr-Light';
    src: url('./Mitr-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-ExtraLight';
    src: url('./Kanit-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-ExtraBold';
    src: url('./Kanit-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Mitr-Medium';
    src: url('./Mitr-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Kanit-Black';
    src: url('./Kanit-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Mitr-ExtraLight';
    src: url('./Mitr-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Mitr-Bold';
    src: url('./Mitr-Bold.woff2') format('woff2');
}

.kanit-medium {
    font-family: 'Kanit-Medium';
}

.kanit-light {
    font-family: 'Kanit-Light';
}

.kanit {
    font-family: 'Kanit-Regular';
}

.mitr {
    font-family: 'Mitr-SemiBold';
}

.kanit-bold {
    font-family: 'Kanit-Bold';
}

.kanit-semibold {
    font-family: 'Kanit-SemiBold';
}

.mitr-light {
    font-family: 'Mitr-Light';
}

.kanit-extralight {
    font-family: 'Kanit-ExtraLight';
}

.kanit-extrabold {
    font-family: 'Kanit-ExtraBold';
}

.mitr-medium {
    font-family: 'Mitr-Medium';
}

.kanit-black {
    font-family: 'Kanit-Black';
}

.mitr-extralight {
    font-family: 'Mitr-ExtraLight';
}

.mitr-bold {
    font-family: 'Mitr-Bold';
}